@import "tailwindcss";
@import "primeicons/primeicons.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom .p-button {
  @apply hover:disabled:cursor-not-allowed;
}


.custom .p-progressbar{
  @apply h-2;
}

.custom .p-progressbar-value{
  @apply bg-black
}