<div class="w-min-full h-min-screen flex flex-col bg-gradient-to-r from-violet-200 to-pink-200">
  <!-- go back button -->
  <div class="p-3 mb-3">
    <p-button
      (onClick)="router.navigate(['/'])"
      icon="pi pi-arrow-left"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      severity="danger"
    />
  </div>

  <!-- toast -->
  <p-toast></p-toast>
  
  <!-- main -->
  <div class="mb-5">
    <h1 class="text-3xl font-bold font-mono text-center text-white">Quiz on <span class="text-yellow-500"> {{groupData.groupName}} </span> Category </h1>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 font-mono p-5 gap-3">
    @for (item of groupData.categories; track $index) {
    <p-card class="w-full overflow-hidden rounded-xl max-w-md">
      <ng-template #header>
        <img alt="Card" class="w-full" src="{{ item.imgSrc }}" />      
      </ng-template>
      <ng-template #title>
        <div class="font-bold text-2xl">Quiz on {{ item.name }}!</div>
      </ng-template>
      <ng-template #subtitle> 
        <div><span class="font-semibold underline">Description:</span> {{item.desc}}</div>
      </ng-template>

      <!-- question options option -->
      <div class="flex">
        <div class="flex flex-col space-y-2 space-x-1.5">
          <div class="items-center flex flex-col mb-3 space-y-2 md:flex-row space-x-2">
            <span class="block md:hidden">Number of Questions:</span>
            <span class="hidden md:block">Number of Qs:</span>
            <p-selectbutton
            class="custom-select"
            [options]="stateOptions"
            [(ngModel)]="valuesQ[$index]"
            optionLabel="label"
            optionValue="value"
            aria-labelledby="basic"
            />
          </div>

          <div class="items-center flex flex-col mb-3 space-y-2 md:flex-row space-x-2">
            <span>Difficulty:</span>
            <p-selectbutton
            class="custom-select"
            [options]="stateDiff"
            [(ngModel)]="valuesD[$index]"
            optionLabel="label"
            optionValue="value"
            aria-labelledby="basic"
            />
          </div>

          <div class="items-center flex flex-col mb-3 space-y-2 md:flex-row space-x-2">
            <span>Type:</span>
            <p-selectbutton
            class="custom-select"
            [options]="stateType"
            [(ngModel)]="valuesT[$index]"
            optionLabel="label"
            optionValue="value"
            aria-labelledby="basic"
            />
          </div>

        </div>
      </div>

      <!-- start quiz -->
      <ng-template #footer>
        <div class="flex items-center justify-center gap-4 mt-1">
          <p-button
            class="custom"
            variant="text"
            [raised]="true"
            severity="help"
            [disabled]="!valuesQ[$index] || !valuesD[$index] || !valuesT[$index]"
            (onClick)="goToQuizPage($index)"
          >
            Lets Go Quizzing!<lucide-icon
              [img]="RocketIcon"
              class="my-icon"
            ></lucide-icon>
          </p-button>
        </div>
      </ng-template>
    </p-card>
    }
  </div>
</div>
